---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="¡Gracias!" noindex={true}>
  <section class="section">
    <div class="container">
      <h1 class="section-title">¡Gracias por tu consulta!</h1>
      <p>Nos comunicaremos rápidamente para asistirte.</p>
      <a class="btn btn-outline" href="/">Volver al inicio</a>
    </div>
  </section>
</BaseLayout>
